
@tgmStoryWidth:   620px;
@orange:          #fd9c58;
@white:           #fff;
@black:           #000;
@gray:            #666;
@grayLight:       #999;
@grayLighter:     #e3e3e3;
@sansFontFamily:  "open-sans", "Open Sans", Helvetica, Arial, sans-serif;
@baseFontSize:    14px;
@baseLineHeight:  20px;
@fadeHeight:      10px;


#main {
  width: @tgmStoryWidth;
  font-family: @sansFontFamily;
  font-size: @baseFontSize; 
  line-height: @baseLineHeight;
  margin: 20px;
}


// TITLE & INTRO

.viz-title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: @baseFontSize * 5;
  line-height: @baseLineHeight * 3;
  letter-spacing: -1px;
  text-align: center;
  color: @grayLight;
  margin: 0;
}

.lead-in {
  display: block;
  color: @grayLight;
  text-transform: uppercase;
  font-size: @baseFontSize;
}

.company-name {
  font-size: 1.1em;
  line-height: 1.2;
  // display: block;
  margin: 0 0 .2em 0;
  color: @orange;
}

.company-info-link {
  color: @gray;
  background: @grayLighter;
  display: inline-block;
  text-decoration: none;
  line-height: @baseFontSize * .75;
  font-size: @baseFontSize * .75;
  padding: 6px;
  padding-bottom: 0;
  .border-radius(3px);
  i {
    // font-size: @baseFontSize * 1.5;
  }
  &:hover {
    color: @white;
    background: @orange;
  };
}

// COLUMNS

.list-column {
  padding: 0;
  margin: 0;
  position: relative;
}

.column-title {
  font-weight: 900;
  border-bottom: .4em solid @orange;
  margin: 0;
}

.company-list-column {
  width: 25%;
  margin-right: 5%;
  float: left;
}

.country-list-column {
  width: 70%;
  float: left;  
}

.list-wrapper {
  overflow: hidden;
  position: relative;
}

.company-list,
.country-list {
  list-style: none;
  margin: 0;
  padding: (@fadeHeight * 3) 0;
  max-height: 500px;
  overflow: scroll !important;
}

// UP / DOWN ARROWS

.list-controls {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-control {
  background: @white;
  color: @gray;
  .border-radius(3px);
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 11;
  cursor: pointer;
  i {
    display: inline-block;
    margin-top: 5px;
  }
  &.list-control-up {
    top: 0;
    .box-shadow(0 (@fadeHeight * -0.5) @fadeHeight @fadeHeight @white);
  }
  &.list-control-down {
    bottom: 0;
    .box-shadow(0 (@fadeHeight * 0.5) @fadeHeight @fadeHeight @white);
  }
  &:hover {
    color: @black;
    background: @grayLighter;
  };
}

// SCALE 

.scale-wrapper {
  position: relative;
  height: 2em;
  margin-top: 0.5em;
}

.scale-marker {
  position: absolute;
  color: @black;
  font-size: 1.5em;
  font-weight: bold;
  top: 0;
  &.scale-marker-low { left: 0; }
  &.scale-marker-high { right: 0; }
}

.scale {
  position: absolute;
  bottom: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    width: 10%;
  height: 6px;
    float: left;
    position: relative;
    border-bottom: 1px solid @grayLighter;
    &:after {
      content: '';
      border-left: 1px solid @grayLighter;
      position: absolute;
      left: 0;
      height: 6px;
    };
    &:first-child:after {
      border-left: 0px none;
    };
  }
  .clearfix();
}

// COMPANIES

.company {
  font-size: 1em;
  cursor: pointer;
  padding: 0.25em;
  .border-radius(3px);
  margin-bottom: 1px;
  &.selected, &:hover {
    color: @white;
    background: @orange;
  }
}

// COUNTRIES

.country-container {
  margin-bottom: 0.4em;
  background: @grayLighter;
  .border-radius(2px);
  padding: .25em 0;
  width: 100%;
  z-index: 4;
}

.country {
  margin-left: 0.5em;
  position: relative;
  z-index: 5;
}

.country-bar {
  background: @orange;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  .border-radius(2px);
  .transition(width 1.5s);
}

.country-number {
  position: absolute;
  top: 3px;
  right: 3%;
  z-index: 2;
  opacity: 0.4;
}

.country-container[data-total="0"] {
  background: @white;
  z-index: 3;
  .country-bar {
    background: transparent;
  }
  .country {
    color: @grayLight;
  }
}

// ETC

.clear {
  clear: both;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property:    -moz-transform, opacity;
  -ms-transition-property:     -ms-transform, opacity;
  -o-transition-property:      -o-transform, opacity;
  transition-property:         transform, opacity;
}
